<div class="container">

    <div class="row">
        <div class="col-4">

            <div class="card border-info">
                <img src="{{member.photoUrl || '../../../../../assets/images/user.png'}}" alt="{{member.screenName}}"
                    class="card-image-top img-thumbnail">
                <div class="card-body">
                    <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.userName)">
                        <i class="fa fa-user-circle text-success mr-1"></i>
                        <p class="text-success" style="display: inline;">Online Now</p>
                    </div>
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                    <div>
                        <strong>Member Since:</strong>
                        <p>{{member.profileCreated | date: 'longDate'}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex m-2">
                        <button class="btn btn-primary">Like</button>
                        <button class="btn btn-success" (click)="selectTab(3)">Message</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <tabset class="member-tabset" type="pills" #memberTabs>
                <hr>
                <tab heading="About {{member.screenName}}" (selectTab)="onTabActivated($event)">
                    <div class="information">
                        <h1>About</h1>
                        <p>{{member.introduction}}</p>
                        <h4>Looking for</h4>
                        <p>{{member.lookingFor}}</p>
                    </div>
                    <hr>
                </tab>


                <tab heading="Interests" (selectTab)="onTabActivated($event)">
                    <div class="information">
                        <h1>Interests</h1>
                        <p>{{member.interests}}</p>
                    </div>
                    <hr>
                </tab>

                <tab heading="Photos" (selectTab)="onTabActivated($event)">
                    <div class="information">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
                            style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                    </div>
                    <hr>
                </tab>
                <tab heading="Messages" (selectTab)="onTabActivated($event)">
                    <div class="information">
                        <app-member-messages [username]="member.userName"></app-member-messages>
                    </div>
                    <hr>
                </tab>
            </tabset>
        </div>

    </div>
</div>